<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
    <camelContext xmlns="http://camel.apache.org/schema/spring">
        <route id="set">
            <from uri="servlet:set"/>
            <to uri="bean:cosmos?method=set(${header.name}, ${header.value})"/>
        </route>
        <route id="get">
            <from uri="servlet:get"/>
            <to uri="bean:cosmos?method=get(${header.name})"/>
        </route>
    </camelContext>
    <context:property-placeholder/>
    <bean id="cosmos" class="com.microsoft.azure.samples.cosmosdb.CosmosDbKeyValueStore">
        <constructor-arg name="uri" value="${Uri}"/>
        <constructor-arg name="primaryKey" value="${PrimaryKey}"/>
        <constructor-arg name="databaseName" value="${DatabaseName}"/>
    </bean>
</beans>
